/* RESETS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-size: 16px;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;

  --fa-primary: #ff7eee;
  --fa-secondary: #df49a6;

  --transition-speed: 400ms;
}

body {
  color: black;
  background-color: white;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

p {
  padding: 0.6rem 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  top: 0;
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: width 200ms ease;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.navbar-nav,
.navbar-control {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  width: 100%;
  color: var(--text-primary);
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
  height: 5rem;
  font-size: 1.8rem;
  transition: color var(--transition-speed) ease;
}

.link-text {
  display: none;
  margin-left: 1rem;
  font-size: 1rem;
}

.nav-link i {
  margin: 0 1.5rem;
}

.nav-link:hover {
  color: var(--fa-primary);
  background-color: var(--bg-secondary);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 0.3ch;
}

.logo span {
  font-size: 1.4rem;
}

.logo i {
  transform: rotate(0deg);
  transition: transform var(--transition-speed) ease;
}

.logo:hover i {
  transform: rotate(-180deg);
}

/* SMALL SCREENS */
@media screen and (max-width: 600px) {
  /* .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  } */
}

/* LARGE SCREENS */
@media screen and (min-width: 600px) {
  .navbar {
  }
}
