* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ALL SCREENS */
body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #000;
  transition: color 0.2s ease-out;
}

a:focus,
a:hover,
a:active {
  color: #aaa;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.muted {
  color: #aaa;
}

/* MOBILE */
:root {
  --xl-text: 3rem;
  --h1-heading: 2rem;
  --h2-heading: 1.5rem;
  --sub-heading: 1.2rem;
  --small-text: 1rem;
  --big-text: 1.2rem;

  --post-vertical-spacer: 8px 0 2rem;
  --text-vertical-spacer: 9px 0 1px;
}

/* TABLET */
@media (min-width: 700px) {
  :root {
    --xl-text: 2.6rem;
    --h1-heading: 1.8rem;
    --h2-heading: 1.4rem;
    --sub-heading: 1rem;
    --small-text: 0.9rem;
    --big-text: 1.1rem;

    --post-vertical-spacer: 0 0 1rem;
    --text-vertical-spacer: 6px 0 1px;
  }
}

/* DESKTOP */
@media (min-width: 1280px) {
  :root {
    --xl-text: 2.4rem;
    --h1-heading: 1.6rem;
    --h2-heading: 1.2rem;
    --sub-heading: 0.8rem;
    --small-text: 0.8rem;
    --big-text: 1rem;

    --post-vertical-spacer: 0 0 1rem;
    --text-vertical-spacer: 3px 0 1px;
  }
}

.xl-text {
  font-size: var(--xl-text);
}

.main-heading {
  font-size: var(--h1-heading);
}

.sub-main-heading {
  font-size: var(--h2-heading);
}

.big-text {
  font-size: var(--big-text);
}

.sub-heading {
  font-size: var(--sub-heading);
}

.small-text {
  display: inline-block;
  font-size: var(--small-text);
  margin: var(--text-vertical-spacer);
}

.text-vertical-spacer {
  margin: var(--text-vertical-spacer);
}

.post {
  margin: var(--post-vertical-spacer);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px auto;
  overflow: hidden;
}

.post a {
  overflow: hidden;
}

.post a img:hover {
  transform: scale(1.1);
}

.post a img {
  transition: transform 0.2s ease-out;
}

/* SMALL SCREEN */
.container {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-auto-rows: auto;
  gap: 10px 0;
}

.container > * {
  grid-column: 2 / 3;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 50px auto;
  place-items: center center;
}

.header nav {
  display: none;
}

.recent header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.recent header h4 {
  grid-column: 1 / 2;
}

.recent header .chevrons {
  display: none;
}

/* .recent header .chevrons {
  grid-column: 3 / 4;
}

.recent header .chevrons a:last-child {
  margin-left: 0.5rem;
} */
/* 


.recent h4 {
  grid-column: 1;
}

.recent figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px auto;
  row-gap: 10px;
}

.recent figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content {
  grid-column: 2 / 6;
} */

/* MIDDLE SCREEN */
/* @media screen and (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 10% repeat(2, 1fr) 10%;
    grid-auto-rows: 100px auto;
    row-gap: 10px;
  }

  .header {
    grid-column: 2 / 4;
    place-items: center start;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(80px, auto));
    gap: 15px;
  }

  .text-links a {
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 0.9rem;
  }

  .icons-links i {
    padding: 0 6px;
    color: #000;
  }

  .recent {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px auto;
    gap: 20px 40px;
  }

  .recent h4 {
    grid-column: 1 / 3;
  }

  .recent figure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px auto;
    row-gap: 10px;
  }

  .recent figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-content {
    grid-column: 2 / 6;
  }
} */

/* LARGE SCREEN */
/* @media screen and (min-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: 12.5% repeat(4, 1fr) 12.5%;
    grid-auto-rows: 200px auto;
    row-gap: 10px;
  }

  .header {
    grid-column: 2 / 6;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(80px, auto));
    gap: 20px;
  }

  .text-links a {
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 0.9rem;
  }

  .icons-links i {
    padding: 0 6px;
    color: #000;
  }

  .recent {
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1rem auto;
    gap: 25px;
  }

  .recent h4 {
    grid-column: 1 / 5;
  }

  .recent figure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    row-gap: 10px;
  }

  .recent figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-content {
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px auto;
  }

  .main-content h2 {
    place-self: end center;
    font-size: 3rem;
  }
} */
